<ion-header>
  <ion-toolbar>
    <div>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <img src="assets/img/contraseña.png" width="50%" height="50%">
  </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>
    <ion-item>
      <ion-input [(ngModel)]="email"  label="Email" type="email" placeholder=""></ion-input>
    </ion-item>


      <ion-button (click)="recuperar()"  expand="block">Recuperar</ion-button>
      
  </h1>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Desarrolado por Adrian </ion-title>
  </ion-toolbar>
</ion-footer>
